<% render 'follows/form' %> 
<h4 class="d-flex justify-content-end align-self-end"> 
  Author: &nbsp;&nbsp;&nbsp; <%=@user.email%> &nbsp;&nbsp;&nbsp;
  <%= render 'follows/form' %> 
</h4> <br/><br/>
<h1 class='d-flex justify-content-center'><strong><%= @article.title %></strong></h1>
<p class='d-flex justify-content-center px-5' style="text-align: justify;"> <%= @article.body %></p>
<ul class="list-inline d-flex justify-content-center">
  <% if user_signed_in? %>
    <% if current_user.id == @article.user_id %>
      <li class="list-inline-item"><%= link_to "Edit", edit_article_path(@article), class: 'btn btn-primary' %></li>
      <%= form_with url: article_path(@article), method: :delete, id: 'delete_article_form' do |form| %>
        <%= form.button 'Delete', class: 'btn btn-primary' %>
      <% end %>
    <% end %> 
  <% end %>
</ul>
<br/><br/>
<h2 class='d-flex justify-content-center'>Comments</h2>
<%= render @article.comments %>
<br/><br/>
<% @user = @article.user %>
<% if user_signed_in? and (current_user.following?(@user) or current_user == @user) %>
  <h2 class='d-flex justify-content-center'>Add a comment:</h2>
  <%= render 'comments/form' %>
<% end %>
